RepliconWeb/Connected Services/EmployeeService/Employee1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61672/Employee.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RepliconService.Service" />
  <xs:element name="GetEmployeeDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RepliconService.Service" minOccurs="0" name="GetEmployeeDetailsResult" nillable="true" type="q1:ArrayOfEmployeeDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>